<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894029547682-7ts2smp9pska8209lge6gkbphktbk24h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894029547682-7ts2smp9pska8209lge6gkbphktbk24h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>894029547682-ipk7monqii12tip9scf2lq3nvsk263mm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVZEzqcDhx465sKPPokUVRnVtcJm093dQ</string>
	<key>GCM_SENDER_ID</key>
	<string>894029547682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.treksor.app</string>
	<key>PROJECT_ID</key>
	<string>treksor-aa949</string>
	<key>STORAGE_BUCKET</key>
	<string>treksor-aa949.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894029547682:ios:44b6a50df1d97174b4affb</string>
</dict>
</plist>